body {
  margin:0;
  background:#0b0f19;
  color:white;
  font-family:Arial;
}

.app-container {
  text-align:center;
  padding:20px;
}

.events-container {
  display:grid;
  grid-template-columns:repeat(auto-fit,minmax(250px,1fr));
  gap:20px;
}

.card {
  background:#141c2f;
  padding:15px;
  border-radius:10px;
  transition:0.3s;
}

.card:hover {
  transform:scale(1.05);
}